.imageMargin {
  margin-top: 70%;
}

.listStylecustomed{
  list-style: none;
  margin-left: -25%;
}

.LogInIconSideBar {
  width: 60%;
  height: 60%;
}

.iconSizeSideBar {
  width: 50%;
  height: 50%;
}

.menuOpenAndCloseBtn{
  /* display: none; */
}

.IconGoBack{
  margin-left: -50%;
  margin-top: 50%;
  margin-bottom: 50%;
  border: none;
  background-color: #DCDCDC;
}

/* PC */
@media only screen and (min-width: 1280px) and (max-width: 1920px) {
  .sidebar {
    width: 8%;
    height: 100%;
  }

  .myMargin {
    width: 70%;
    justify-content: left;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .listStylecustomed{
    list-style: none;
    margin-left: -60%;
  }
}


/* Mobile */
@media only screen and (max-width: 768px) {
  .sidebar {
    width: 15vw;
    height: 100%;
  }

  .myMargin {
    width: 100%;
    justify-content: left;
  }

  .LogInIconSideBar,
  .iconSizeSideBar {
    margin-left: -8%;
  }
  .listStylecustomed{
    list-style: none;
    margin-left: -60%;
  }

}