.customH4 {
  font-weight: 100;
}

.customP {
  opacity: 100%;
}

.customH2 {
  font-weight: 500;
  font-size: x-large;
}


/* Block.css */
.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 99%;
  border-bottom: 0.6vh solid #ddd;
  padding: 10px;
  align-items: center;
}

.block2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99%;
  border-bottom: 0.6vh solid #ddd;
  padding: 10px;
  align-items: center;
}

.appicon{
  max-width: 250px;
  max-height: 200px;
}

.block-section {
  flex: 1;
  text-align: center;
}


.moduleiconStyle{
  width: 100% !important;
  opacity: 100% !important;
}

.customposiconmodule{
  width: 20% !important;
  margin-left: -100% !important;
  margin-top: 0%;
  margin-right: 30%;
  text-align: center;
}

.editiconModules{
  width: 50% !important;
  height: 50% !important;
}

.largeIcon {
  font-size: 24px; /* Ajusta el tamaño según tus necesidades */
}

.borders{
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .block2 {
    margin-bottom: 20px; /* Ajusta según tus necesidades */
  }

  .customposiconmodule {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 5% !important;
    margin-right: 0 !important;
    text-align: center;
  }
  .mobileEditM {
    width: 15px; 
    font-size: 24px;
  }
  .moduleiconStyle{
    width: 50% !important;
    opacity: 100% !important;
  }
  .largeIcon {
    font-size: 18px; /* Ajusta el tamaño según tus necesidades */
  }
  .iconBorderEditM{
    margin-right: 20% !important;
  }
  .infosizeUrl{
    font-size: medium !important;
  }
}
